(
    name: "stone",
    tiles: [
        (
            name: "small_stone",
            size: (1, 1),
            layer_repeats: [
                1,
            ],
            is_material: false,
        ),
        (
            name: "brick",
            size: (1, 1),
            layer_repeats: [
                1, 1, 8,
            ],
            is_material: false,
        ),
        (
            name: "standard",
            size: (1, 1),
            layer_repeats: [
                1,
            ],
            is_material: true,
        ),
        (
            name: "frame",
            size: (1, 1),
            layer_repeats: [
                1,
            ],
            is_material: true,
        ),
    ],
)