(
    tiles: [],
    nonograms: [
        (((
            size: (10, 10),
            horizontal_clues: [
                (0, [
                    3,
                ]),
                (3, [
                    3,
                ]),
                (6, [
                    3,
                ]),
                (9, [
                    3,
                ]),
            ],
            vertical_clues: [
                (0, [
                    3,
                ]),
                (3, [
                    3,
                ]),
                (6, [
                    3,
                ]),
                (9, [
                    3,
                ]),
            ],
        )), (
            pos: (
                x: 10,
                y: 10,
            ),
        )),
    ],
)